
<div class="webMessage">
   
    <h2>Welcome to our File Conversion and Report Generation Tool</h2>
    <br>
    <p>
      Transform your documents seamlessly with our versatile file converter and report generator. Whether you need to convert PDFs,
      Word documents, or Excel spreadsheets, or generate detailed reports, we've got you covered. Simplify your workflow and enhance
      productivity with these key features
    </p>
</div>
<div class="button-container">

    <a mat-raised-button color="primary" [routerLink] = "['/fileConverter']"> File Converter</a>

    <a mat-raised-button color="primary" [routerLink] = "['/generateReport']"> Report Generator</a>
    
</div>
