<div class="parent-container">
    <div class="total-container">
        <h1>Replace Text</h1>
        <h3>Replace specific text in multiple files. Upload the files below and specify the text to be replaced.</h3>
        
        <div class="main-container">
            <h2>Upload Files</h2>

            <div *ngFor="let input of fileInputs; let i = index">
                <app-file-input (fileSelected)="onFileSelected($event)"></app-file-input>
            </div>

            <div class="text-input-container"> 
                <label for="oldText">Old Text:</label>
                <input id="oldText" type="text" [(ngModel)]="oldText" placeholder="Enter old text">
            
                <label for="newText">New Text:</label>
                <input id="newText" type="text" [(ngModel)]="newText" placeholder="Enter new text">
            </div>

            <div class="button-container">
                <button type="button" mat-raised-button color="primary" (click)="onAddFileInput()"
                    [disabled]="responseCaught">Add More Files</button>
                <button type="submit" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="responseCaught">Replace
                    Texts in File</button>
            </div>

            <div *ngIf="progressVisible" class="button-container">
                <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
            </div>

            <div *ngIf="responseCaught">
                <div class="preview-download-buttons">
                    <h3>Texts replaced successfully. Do you want to download it?</h3>
                    <div class="center-button">
                        <button mat-raised-button color="primary" (click)="downloadGeneratedFiles()">Download
                            Files</button>
                        <button mat-raised-button color="primary" (click)="setDefaultPage()">Provide New Files</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <br><br>
        <div class="main-container">
            <h1>Note:</h1>
            <p>While merging PDF in the free version, the merged PDF file will have at most 4 pages.</p>
            <p>Make sure to provide PDF files whose combined pages won't exceed 4 pages or else you'll encounter an error.</p>
            <p>For example, if you provide 4 PDF files, each with only one page of content, then the merged PDF will be created with ease.</p>
        </div> -->
    </div>
</div>